* {
    box-sizing: border-box;
}

html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 1000px;
    width: calc(100vw - 15);
}
.container .display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: black;
    font-size: 10rem;
    width: 800px;
    height: 800px;
}
.display-percentage {
    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    font-size: 10rem;
}